.footer {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: auto;
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;

    

  }
